<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    <meta name="viewport" content="width=300, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
    <div class="center">
        <div class="centerBox">
            <a href="/{{random}}">
                <img src="qr.svg" width="100%" style="background: white"/>
            </a>
        <div class="boxOuter"><span class="box redBackground ossFont"><a href="/{{random}}">{{random}}
        <br/><br>
            {{phonetic}}
        </a></span></div>
        </div>
    </div>
</body>
</html>