<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <meta name="viewport" content="width=300, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
	<body>
		  <form id="form1" action="{{room}}" method="get">
		  <div class="center">
			  <div class="centerBox"><img src="{{room}}/qr.svg" style="background: white"/>
		        <input name="user" class="input" type="text" placeholder="Enter your name" autofocus/>
			  </div>
		  </div>
		  </form>
	</body>
</html>